In [124]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning

### Data Reading & Data Types

In [125]:
#Read the data in pandas
inp0= pd.read_csv("Dress+Attribute+DataSet.csv")
inp1= pd.read_csv("Dress+Sales.csv")

You have “Attribute DataSet” which contains a column named “Price”. Choose the correct statement from the following about its data type and variable type.
- Integer type and numerical variable
- Object type and categorical ordinal variable
- Object type and categorical nominal variable
- Float type and categorical variable.

In [126]:
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0

In [127]:
inp0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
Dress_ID          479 non-null int64
Style             479 non-null object
Price             477 non-null object
Rating            479 non-null float64
Size              479 non-null object
Season            477 non-null object
NeckLine          476 non-null object
SleeveLength      477 non-null object
Material          360 non-null object
FabricType        223 non-null object
Decoration        255 non-null object
Pattern Type      377 non-null object
Recommendation    479 non-null int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.7+ KB

There is another column in “Attribute DataSet” named as “Recommendation”, choose the correct statement about its data type and variable type.
- Integer type and categorical
- Object type and categorical
- Integer type and continuous numerical
- Object type only.

Which of the following column do you think are of no use in “Attribute DataSet”.
- Dress_ID
- Price
- Size and material
- NeckLine
- None of the above

In [128]:
# Print the information about the attributes of inp0 and inp1.
inp0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
Dress_ID          479 non-null int64
Style             479 non-null object
Price             477 non-null object
Rating            479 non-null float64
Size              479 non-null object
Season            477 non-null object
NeckLine          476 non-null object
SleeveLength      477 non-null object
Material          360 non-null object
FabricType        223 non-null object
Decoration        255 non-null object
Pattern Type      377 non-null object
Recommendation    479 non-null int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.7+ KB

In [129]:
inp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
Dress_ID      479 non-null float64
29-08-2013    479 non-null int64
31-08-2013    479 non-null int64
09-02-2013    479 non-null int64
09-04-2013    479 non-null int64
09-06-2013    479 non-null int64
09-08-2013    479 non-null int64
09-10-2013    479 non-null int64
09-12-2013    479 non-null object
14-09-2013    479 non-null object
16-09-2013    479 non-null object
18-09-2013    479 non-null object
20-09-2013    479 non-null object
22-09-2013    479 non-null object
24-09-2013    479 non-null int64
26-09-2013    257 non-null float64
28-09-2013    479 non-null int64
30-09-2013    222 non-null float64
10-02-2013    220 non-null float64
10-04-2013    221 non-null float64
10-06-2013    479 non-null int64
10-08-2013    224 non-null float64
10-10-2013    224 non-null float64
10-12-2013    479 non-null int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB

### Fixing the Rows and Columns

As you can see, there is a column in “Attribute Dataset” named as ‘Size’. This column contains the values in abbreviation format. Write a code in Python to convert the followings:

- M into  “Medium”
- L into  “Large”
- XL into “Extra large”
- free into “Free”
- S, s & small into “Small”.

Now once you are done with changes in the dataset, what is the value of the lowest percentage, the highest percentage and the percentage of Small size categories in the column named “Size”?

In [130]:
# Column fixing, correcting size abbreviation. count the percentage of each size category in "Size" column.
inp0.Size.value_counts()

M        171
free     165
L         93
S         34
XL        14
small      1
s          1
Name: Size, dtype: int64

In [131]:
inp0['Size'] = inp0['Size'].map({'M': 'Medium', 'free': 'Free', 'L': 'Large', 'S': 'Small', 'small': 'Small', 's': 'Small', \
                           'XL': 'Extra Large'})
inp0.Size.value_counts()

Medium         171
Free           165
Large           93
Small           36
Extra Large     14
Name: Size, dtype: int64

In [132]:
# Print the value counts of each category in "Size" column.
100 * inp0.Size.value_counts() / inp0.shape[0]

Medium         35.699374
Free           34.446764
Large          19.415449
Small           7.515658
Extra Large     2.922756
Name: Size, dtype: float64

### Impute/Remove Missing values

In [133]:
# Print the null count of each variables of inp0 and inp1.
print(inp0.isnull().sum())

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
dtype: int64

In [134]:
print(inp1.isnull().sum())

Dress_ID        0
29-08-2013      0
31-08-2013      0
09-02-2013      0
09-04-2013      0
09-06-2013      0
09-08-2013      0
09-10-2013      0
09-12-2013      0
14-09-2013      0
16-09-2013      0
18-09-2013      0
20-09-2013      0
22-09-2013      0
24-09-2013      0
26-09-2013    222
28-09-2013      0
30-09-2013    257
10-02-2013    259
10-04-2013    258
10-06-2013      0
10-08-2013    255
10-10-2013    255
10-12-2013      0
dtype: int64

You are given another dataset named “Dress Sales”. Now if you observe the datatypes of the columns using ‘inp1.info()’ command, you can identify that there are certain columns defined as object data type though they primarily consist of numeric data.

Now if you try and convert these object data type columns into numeric data type(float), you will come across an error message. Try to correct this error.

In [135]:
# Print the data types information of inp1 i.e. "Dress Sales" data.
inp1.dtypes

Dress_ID      float64
29-08-2013      int64
31-08-2013      int64
09-02-2013      int64
09-04-2013      int64
09-06-2013      int64
09-08-2013      int64
09-10-2013      int64
09-12-2013     object
14-09-2013     object
16-09-2013     object
18-09-2013     object
20-09-2013     object
22-09-2013     object
24-09-2013      int64
26-09-2013    float64
28-09-2013      int64
30-09-2013    float64
10-02-2013    float64
10-04-2013    float64
10-06-2013      int64
10-08-2013    float64
10-10-2013    float64
10-12-2013      int64
dtype: object

In [136]:
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
#inp1['09-12-2013'] = inp1['09-12-2013'].astype('float')

ValueError: could not convert string to float: 'Removed'

In [137]:
# Do the required changes in the "Dress Sales" data set to get null values on string values.
# inp1[inp1['09-12-2013'].apply(lambda x: isinstance(x, int) == True)]['09-12-2013']
inp1['09-12-2013'] = pd.to_numeric(inp1['09-12-2013'], errors = 'coerce')
inp1['14-09-2013'] = pd.to_numeric(inp1['14-09-2013'], errors = 'coerce')
inp1['16-09-2013'] = pd.to_numeric(inp1['16-09-2013'], errors = 'coerce')
inp1['18-09-2013'] = pd.to_numeric(inp1['18-09-2013'], errors = 'coerce')
inp1['20-09-2013'] = pd.to_numeric(inp1['20-09-2013'], errors = 'coerce')
inp1['22-09-2013'] = pd.to_numeric(inp1['22-09-2013'], errors = 'coerce')

In [138]:
# Convert the object type columns in "Dress Sales" into float type of data type.
inp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
Dress_ID      479 non-null float64
29-08-2013    479 non-null int64
31-08-2013    479 non-null int64
09-02-2013    479 non-null int64
09-04-2013    479 non-null int64
09-06-2013    479 non-null int64
09-08-2013    479 non-null int64
09-10-2013    479 non-null int64
09-12-2013    478 non-null float64
14-09-2013    478 non-null float64
16-09-2013    478 non-null float64
18-09-2013    478 non-null float64
20-09-2013    478 non-null float64
22-09-2013    478 non-null float64
24-09-2013    479 non-null int64
26-09-2013    257 non-null float64
28-09-2013    479 non-null int64
30-09-2013    222 non-null float64
10-02-2013    220 non-null float64
10-04-2013    221 non-null float64
10-06-2013    479 non-null int64
10-08-2013    224 non-null float64
10-10-2013    224 non-null float64
10-12-2013    479 non-null int64
dtypes: float64(13), int64(11)
memory usage: 89.9 KB

When you see the null counts in “Dress Sales” dataset after performing all the operations that have been mentioned in jupyter notebook, you will find that there are some columns in “Dress Sales” data where there are more than 40% of missing values. Based on your understanding of dealing with missing values do the following steps.

In [139]:
# Print the null percetange of each column of inp1.
100 * inp1.isnull().sum() / inp1.shape[0]

Dress_ID       0.000000
29-08-2013     0.000000
31-08-2013     0.000000
09-02-2013     0.000000
09-04-2013     0.000000
09-06-2013     0.000000
09-08-2013     0.000000
09-10-2013     0.000000
09-12-2013     0.208768
14-09-2013     0.208768
16-09-2013     0.208768
18-09-2013     0.208768
20-09-2013     0.208768
22-09-2013     0.208768
24-09-2013     0.000000
26-09-2013    46.346555
28-09-2013     0.000000
30-09-2013    53.653445
10-02-2013    54.070981
10-04-2013    53.862213
10-06-2013     0.000000
10-08-2013    53.235908
10-10-2013    53.235908
10-12-2013     0.000000
dtype: float64

In [140]:
# Drop the columns in "Dress Sales" which have more than 40% of missing values.
inp1.drop(['26-09-2013', '30-09-2013', '10-02-2013', '10-04-2013', '10-08-2013', '10-10-2013'], 1, inplace = True)

You should categorise the dates into seasons in “Dress Sales” data to simplify the analysis according to the following criteria:
- June, July and August: Summer.
- September, October and November: Autumn.
- December, January and February: WInter.
- March, April and May: Spring.

In [141]:
# Create the four seasons columns in inp1, according to the above criteria.
dates_list = list(inp1.columns)
dates_list.remove('Dress_ID')
dates_list

['29-08-2013',
 '31-08-2013',
 '09-02-2013',
 '09-04-2013',
 '09-06-2013',
 '09-08-2013',
 '09-10-2013',
 '09-12-2013',
 '14-09-2013',
 '16-09-2013',
 '18-09-2013',
 '20-09-2013',
 '22-09-2013',
 '24-09-2013',
 '28-09-2013',
 '10-06-2013',
 '10-12-2013']

In [142]:
inp1['Summer'] = inp1['29-08-2013'] * 0
inp1['Winter'] = inp1['29-08-2013'] * 0
inp1['Autumn'] = inp1['29-08-2013'] * 0
inp1['Spring'] = inp1['29-08-2013'] * 0

for col in dates_list:
    month = pd.to_datetime(col, dayfirst = True).month
    if month in (6, 7, 8):
        inp1['Summer'] += inp1[col]
        
    elif month in (9, 10, 11):
        inp1['Autumn'] += inp1[col]
        
    elif month in (12, 1, 2):
        inp1['Winter'] += inp1[col]
        
    else:
        inp1['Spring'] += inp1[col]

inp1.head()

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,20-09-2013,22-09-2013,24-09-2013,28-09-2013,10-06-2013,10-12-2013,Summer,Winter,Autumn,Spring
0,1.006033e+09,2114,2274,2491,2660,2727,2887,2930,3119.0,3204.0,...,3386.0,3479.0,3554,3706,3897,4048,13899,9658.0,26857.0,2660
1,1.212192e+09,151,275,570,750,813,1066,1164,1558.0,1756.0,...,2106.0,2454.0,2710,3258,3911,4277,6216,6405.0,17311.0,750
2,1.190381e+09,6,7,7,7,8,8,9,10.0,10.0,...,10.0,11.0,11,11,11,11,40,28.0,82.0,7
3,9.660060e+08,1005,1128,1326,1455,1507,1621,1637,1723.0,1746.0,...,1812.0,1845.0,1878,1914,1952,1963,7213,5012.0,14411.0,1455
4,8.763395e+08,996,1175,1304,1396,1432,1559,1570,1638.0,1655.0,...,1824.0,1919.0,2032,2252,2544,2736,7706,5678.0,14676.0,1396

In [143]:
# calculate the sum of sales in each seasons in inp1 i.e. "Dress Sales".
inp1[['Summer', 'Winter', 'Autumn', 'Spring']].sum()

Summer     691907.0
Winter     473640.0
Autumn    1353543.0
Spring     143600.0
dtype: float64

Now let's merge inp1 with inp0 with left join manner, so that the information of inp0 should remain intact.

In [144]:
# Merge inp0 with inp1 into inp0. this is also called left merge.
inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,...,20-09-2013,22-09-2013,24-09-2013,28-09-2013,10-06-2013,10-12-2013,Summer,Winter,Autumn,Spring
0,1006032852,Sexy,Low,4.6,Medium,Summer,o-neck,sleevless,NaN,chiffon,...,3386.0,3479.0,3554,3706,3897,4048,13899,9658.0,26857.0,2660
1,1212192089,Casual,Low,0.0,Large,Summer,o-neck,Petal,microfiber,NaN,...,2106.0,2454.0,2710,3258,3911,4277,6216,6405.0,17311.0,750
2,1190380701,vintage,High,0.0,Large,Automn,o-neck,full,polyster,NaN,...,10.0,11.0,11,11,11,11,40,28.0,82.0,7
3,966005983,Brief,Average,4.6,Large,Spring,o-neck,full,silk,chiffon,...,1812.0,1845.0,1878,1914,1952,1963,7213,5012.0,14411.0,1455
4,876339541,cute,Low,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,...,1824.0,1919.0,2032,2252,2544,2736,7706,5678.0,14676.0,1396

In [145]:
# Now Drop the Date columns from inp0 as it is already combined into four seasons.
inp0.drop(inp0.loc[:,'29-08-2013':'10-12-2013'].columns, axis= 1, inplace= True)
inp0.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
Summer              0
Winter              1
Autumn              2
Spring              0
dtype: int64

Print the null count of inp0 to get the idea about the missing values in data set.

In [146]:
# Print the null count of each columns in inp0 dataframe i.e. combined data frame of inp0 and inp1 without date columns.
inp0.isnull().sum()

Dress_ID            0
Style               0
Price               2
Rating              0
Size                0
Season              2
NeckLine            3
SleeveLength        2
Material          119
FabricType        256
Decoration        224
Pattern Type      102
Recommendation      0
Summer              0
Winter              1
Autumn              2
Spring              0
dtype: int64

You can see that there are two types of variables one with a large number of missing values and another is very less number of missing values. These two columns can be categorized as:

Type-1: Missing values are very less (around 2 or 3 missing values): Price, Season, NeckLine, SleeveLength, Winter and Autumn. 

Type-2: Missing values are large in numbers (more than 15%): Material, FabricType, Decoration and Pattern Type.

In [147]:
inp0['SleeveLength'].value_counts()

sleevless         216
full               94
short              92
halfsleeve         32
threequarter       17
thressqatar         8
sleeveless          4
capsleeves          3
sleeevless          2
cap-sleeves         2
half                1
Petal               1
butterfly           1
sleveless           1
turndowncollor      1
urndowncollor       1
threequater         1
Name: SleeveLength, dtype: int64

In [148]:
# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.
inp0['Price'].fillna(value = inp0['Price'].mode()[0], inplace = True)
inp0['Season'].fillna(value = inp0['Season'].mode()[0], inplace = True)
inp0['NeckLine'].fillna(value = inp0['NeckLine'].mode()[0], inplace = True)
inp0['SleeveLength'].fillna(value = inp0['SleeveLength'].mode()[0], inplace = True)
inp0['Winter'].fillna(value = inp0['Winter'].mean(), inplace = True)
inp0['Autumn'].fillna(value = inp0['Autumn'].mean(), inplace = True)

In [149]:
100 * inp0.isnull().sum() / inp0.shape[0]

Dress_ID           0.000000
Style              0.000000
Price              0.000000
Rating             0.000000
Size               0.000000
Season             0.000000
NeckLine           0.000000
SleeveLength       0.000000
Material          24.843424
FabricType        53.444676
Decoration        46.764092
Pattern Type      21.294363
Recommendation     0.000000
Summer             0.000000
Winter             0.000000
Autumn             0.000000
Spring             0.000000
dtype: float64

In [155]:
# Deal with the missing values for Type-2 columns: Material, FabricType, Decoration and Pattern Type.
inp0['SleeveLength'].value_counts()

sleevless         218
full               94
short              92
halfsleeve         32
threequarter       17
thressqatar         8
sleeveless          4
capsleeves          3
sleeevless          2
cap-sleeves         2
half                1
Petal               1
butterfly           1
sleveless           1
turndowncollor      1
urndowncollor       1
threequater         1
Name: SleeveLength, dtype: int64

In [151]:
inp0.Material= inp0.Material.replace(np.nan, "Missing")

inp0.FabricType= inp0.FabricType.replace(np.nan, "Missing")

inp0.Decoration= inp0.Decoration.replace(np.nan, "Missing")

inp0['Pattern Type']= inp0['Pattern Type'].replace(np.nan, "Missing")

### Standardise value

In the given dataset, there are certain discrepancies with the categorical names such as irregular spellings. Choose the correct option of columns with irregular categories and update them.
 
- Season, NeckLine
- Price, Material
- fabricType, Decoration
- Season, SleeveLength

In [152]:
#correcting the spellings.
inp0.Season = inp0.Season.replace({'spring': 'Spring', 'Automn': 'Autumn', 'winter': 'Winter'})
inp0['Season'].value_counts()

Summer    156
Winter    139
Spring    118
Autumn     66
Name: Season, dtype: int64

In [154]:
inp0.NeckLine = inp0.NeckLine.replace({'sweetheart': 'Sweetheart'})#correcting the Spellings.
inp0['NeckLine'].value_counts()

o-neck             260
v-neck             119
slash-neck          25
boat-neck           18
Sweetheart          15
turndowncollor      13
bowneck             10
peterpan-collor      5
sqare-collor         5
open                 3
Scoop                2
ruffled              1
halter               1
mandarin-collor      1
backless             1
Name: NeckLine, dtype: int64

In [156]:
inp0['SleeveLength'].value_counts()

sleevless         218
full               94
short              92
halfsleeve         32
threequarter       17
thressqatar         8
sleeveless          4
capsleeves          3
sleeevless          2
cap-sleeves         2
half                1
Petal               1
butterfly           1
sleveless           1
turndowncollor      1
urndowncollor       1
threequater         1
Name: SleeveLength, dtype: int64

In [157]:
inp0.SleeveLength= inp0.SleeveLength.replace(['cap-sleeves', 'capsleeves'], "cap sleeves")

inp0.SleeveLength= inp0.SleeveLength.replace('full', "full sleeves")

inp0.SleeveLength= inp0.SleeveLength.replace(['half','halfsleeve'], "half sleeves")

inp0.SleeveLength= inp0.SleeveLength.replace(['sleevless', 'sleeevless', 'sleeveless', 'sleveless'], "sleeve less")

inp0.SleeveLength= inp0.SleeveLength.replace(['threequarter','threequater', 'thressqatar'], "three quater")

inp0.SleeveLength= inp0.SleeveLength.replace(['turndowncollor','urndowncollor'], "turn down collar")
inp0['SleeveLength'].value_counts()

sleeve less         225
full sleeves         94
short                92
half sleeves         33
three quater         26
cap sleeves           5
turn down collar      2
Petal                 1
butterfly             1
Name: SleeveLength, dtype: int64

## Univariate Analysis

### Categorical Unordered Univariate Analysis

There is a column named ‘Style’ in ‘Attribute Dataset’ which consists of the different style categories of the women apparels. Certain categories whose total sale is less than 50000 across all the seasons is considered under one single category as ‘Others’.

Which of the following categories in ‘Style’ column can be grouped into ‘Others’ category? and perform the grouping operation in the notebook for further analysis.
- Flare, fashion
- Novelty, bohemian
- OL, fashion, work
- Novelty, fashion, Flare

In [158]:
# Group "Style" categories into "Others" which have less than 50000 sales across all the seasons.
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation,Summer,Winter,Autumn,Spring
0,1006032852,Sexy,Low,4.6,Medium,Summer,o-neck,sleeve less,Missing,chiffon,ruffles,animal,1,13899,9658.0,26857.0,2660
1,1212192089,Casual,Low,0.0,Large,Summer,o-neck,Petal,microfiber,Missing,ruffles,animal,0,6216,6405.0,17311.0,750
2,1190380701,vintage,High,0.0,Large,Autumn,o-neck,full sleeves,polyster,Missing,Missing,print,0,40,28.0,82.0,7
3,966005983,Brief,Average,4.6,Large,Spring,o-neck,full sleeves,silk,chiffon,embroidary,print,1,7213,5012.0,14411.0,1455
4,876339541,cute,Low,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0,7706,5678.0,14676.0,1396

In [159]:
inp0.Style.value_counts()

Casual      219
Sexy         66
party        51
cute         44
vintage      25
bohemian     23
work         17
Brief        17
sexy          7
Novelty       6
Flare         2
fashion       1
OL            1
Name: Style, dtype: int64

In [160]:
inp0['Total_sales'] = inp0['Summer'] + inp0['Winter'] + inp0['Autumn'] + inp0['Spring']

In [176]:
inp0.dtypes

Dress_ID            int64
Style              object
Price              object
Rating            float64
Size               object
Season             object
NeckLine           object
SleeveLength       object
Material           object
FabricType         object
Decoration         object
Pattern Type       object
Recommendation      int64
Summer              int64
Winter            float64
Autumn            float64
Spring              int64
Total_sales       float64
dtype: object

In [161]:
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation,Summer,Winter,Autumn,Spring,Total_sales
0,1006032852,Sexy,Low,4.6,Medium,Summer,o-neck,sleeve less,Missing,chiffon,ruffles,animal,1,13899,9658.0,26857.0,2660,53074.0
1,1212192089,Casual,Low,0.0,Large,Summer,o-neck,Petal,microfiber,Missing,ruffles,animal,0,6216,6405.0,17311.0,750,30682.0
2,1190380701,vintage,High,0.0,Large,Autumn,o-neck,full sleeves,polyster,Missing,Missing,print,0,40,28.0,82.0,7,157.0
3,966005983,Brief,Average,4.6,Large,Spring,o-neck,full sleeves,silk,chiffon,embroidary,print,1,7213,5012.0,14411.0,1455,28091.0
4,876339541,cute,Low,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0,7706,5678.0,14676.0,1396,29456.0

In [174]:
total_collection = inp0.groupby(by = 'Style')

In [177]:
total_collection = total_collection[['Summer', 'Winter', 'Autumn', 'Spring']].sum()

In [184]:
total_collection

          Summer         Winter         Autumn  Spring
Style
Brief      37303   25020.000000   69821.000000    7484
Casual    283363  193272.000000  567999.000000   61094
Flare        451     406.000000    1161.000000      71
Novelty     2866    2504.000000    7353.000000     563
OL            63      53.000000     158.000000      15
Sexy      117210   81337.000000  230773.000000   23474
bohemian   16119   11752.000000   37446.000000    3800
cute      100414   65402.000000  184660.000000   20568
fashion       91      74.000000     211.000000      19
party      37796   26380.878661   79968.616352    8420
sexy       24453   17953.000000   41839.616352    4506
vintage    46847   33595.000000   91439.000000    8693
work       24931   16882.000000   46389.000000    4893

In [182]:
total_collection[total_collection.sum(axis = 1) < 50000].index

Index(['Flare', 'Novelty', 'OL', 'fashion'], dtype='object', name='Style')

In [185]:
inp0.replace(total_collection[total_collection.sum(axis = 1) < 50000].index, 'Others', inplace = True)

In [186]:
inp0.Style.value_counts()

Casual      219
Sexy         66
party        51
cute         44
vintage      25
bohemian     23
work         17
Brief        17
Others       10
sexy          7
Name: Style, dtype: int64

What is the percentage of “cute” and “Others” category in “Style” column in “Attribute DataSet” respectively?
- 46%, 5%
- 9%, 2.1%
- 2.1%, 5%
- 13.8%, 9%

In [188]:
# Calculate the percentage of each categories in the "Style" variable.
inp0.Style.value_counts(normalize=True) * 100

Casual      45.720251
Sexy        13.778706
party       10.647182
cute         9.185804
vintage      5.219207
bohemian     4.801670
work         3.549061
Brief        3.549061
Others       2.087683
sexy         1.461378
Name: Style, dtype: float64

Similarly Club Neckline, SLeeve length categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Neckline" categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Sleeve length" categories into "Others" which have less than 50000 sales across all the seasons.

Club material, fabrictype, patterntype and decoration categories into "Others" which have less than 25000 sales across all the seasons

In [ ]:
# Group "material" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "fabric type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "patern type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "decoration" categories into "Others" which have less than 25000 sales across all the seasons.

### Caregorical Ordered Univariate Analysis

Which of the following is an unordered variable in “Attribute DataSet”.
- Style
- Price
- Season
- Size

### Numerical variable Univariate analysis:

What is the approximate difference between the maximum value and 75th percentile in “Autumn” column.
- Approx 54000
- Approx 55000
- Approx 52000
- Approx 50000

In [189]:
# Describe the numerical variale: "Autumn".
inp0.Autumn.describe()

count      479.000000
mean      2837.616352
std       5000.296981
min          1.000000
25%        410.500000
50%       1334.000000
75%       3102.000000
max      55532.000000
Name: Autumn, dtype: float64

In [190]:
# plot the boxplot of "Autumn" column.
55532 - 3102

52430

Which of the following season has the highest difference between the maximum value and 99th quantile of sales?
- Winter
- Summer
- Spring
- Autumn

In [192]:
# Find the maximum and 99th percentile of Winter season.
inp0.Summer.max() - inp0.Summer.quantile(0.99)

21623.000000000007

In [193]:
# Find the maximum and 99th percentile of Summer season.
inp0.Winter.max() - inp0.Winter.quantile(0.99)

11479.580000000027

In [194]:
# Find the maximum and 99th percentile of Spring season.
inp0.Spring.max() - inp0.Spring.quantile(0.99)

4717.12

In [195]:
# Find the maximum and 99th percentile of Autumn season.
inp0.Autumn.max() - inp0.Autumn.quantile(0.99)

31571.600000000064

## Bivariate Analysis

### Numerical- Categorical analysis

Which of the following “Price” category has the lowest average value of rating?
- very-high
- Medium
- Low
- High

In [ ]:
# Find the Mean of Ratings for each Price category.

What is the median of the rating of “vintage” category in Style column?
- 4.6
- 4.7
- 4.55
- 0.00

In [ ]:
# Find the median of Ratings for each Style category.

Which of the following season has the highest average value of sale for “Recommendation” value equals to 1.
- Summer
- Spring
- Autumn
- Winter

In [ ]:
# Summer sale vs Recommendation.

In [ ]:
# Spring sale vs Recommendation.

In [ ]:
# Autumn sale vs Recommendation.

In [ ]:
# Winter sale vs Recommendation.

### Categorical categorical bivariate analysis

Which of the following size categories has the highest positive recommendations?
- Medium and extra large
- Extra large and small
- Free and small
- Free and medium

In [ ]:
# Size vs Recommendation.

### Multivariate analysis

Which of the following pair of “Style” and “Price” category has the highest average of positive recommendations?
- Price: medium and style: vintage
- Price: medium and style: cute
- Price: very high and style: party
- Price: low and style: sexy

In [ ]:
# plot the heat map of Style, price and Recommendation.

Which of the following material type has no recommendation in summer and winter seasons?
- Mix and Milksilk
- Nylon and Rayon
- Microfiber and Silk
- Milksilk and Microfiber

In [ ]:
# plot the heat map of Season, material and Recommendation.